a:link {
    text-decoration: none;
  }

/*Registrate*/
.main_registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/paisaje.jpg);
}
.bg-transp {
    background-color: rgba(240, 248, 255, 0.824);
 }

/*Login*/
.main_login {
    display: flex;
    justify-content: flex-end;
    min-height: 90vh;

    background-image: url(../img/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section_login {
    min-height: 90vh;
    height: 100%;
    max-width: 40vw;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    min-height: 90vh;
    background-color: rgba(240, 248, 255);
 }

/*Index*/
#tarjetas {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.tarjeta_individual {
    margin: 0 15px 0 15px;
    width: 150px;
}
