p , a , h1 , h2, h3, h4 , h5{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}
a:link {
    text-decoration: none;
  }
.txt-center {
    text-align: center;
    padding: var(--margin) 0 var(--margin) 0;
}
.bold-text{
    font-weight: 800;
}
.btn-circle.btn-xl {
    padding: 13px 18px;
    border-radius: 80px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
.btn-circle.btn-xl:hover{
    color: rgb(9, 9, 9)
}
.btn-circle-dark.btn-xl {
  padding: 13px 18px;
  border-radius: 80px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color:rgba(26, 74, 117, 0.824);
}
.btn-circle-dark.btn-xl:hover{
  color: rgb(9, 9, 9)
}
.transparent-btn{
    background-color: #0000001f;
    border: solid 1px white;

    transition: all .7s;
}
.transparent-btn:hover{
    background-color: #ffffffde;
    border: solid 1px rgb(0, 0, 0);
    color: black;
}
.divisor::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #251661;

    margin-top: var(--margin);
}
:root {
    --margin: 2%;
}
body{
    overflow-x: hidden;
}
/*Menu*/
#navbarScroll > ul > li.nav-item.dropdown > ul {
    background-color: #edf8fd;
    border-radius: 3px;
}

/*Index*/

.hero-section {
    background: url("https://hoteldonhoracio.com/wp-content/uploads/2020/09/Cataratas-desde-Mendoza-Portada.jpg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  .h1-title {
    font-size: 3.5rem;
    font-weight: 1000;
  }

.search {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin-top: 3rem;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00b4cc80;
    border-right: none;
    padding: 5px 30px 5px 30px;
    height: 70px;
    border-radius: 25px 0 0 25px;
    outline: none;
    color: #9DBFAF;
    background-color: #ffffffd1;
    font-size: 1.3rem;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    height: 70px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 65vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .destino-del-dia {
    width: 100%;
    background-color: #f0faff;
 
    text-align: center;
  }

  .h2-title {
    font-size: 3rem;
    font-weight: 1000;
  }

  .col-izq{
    padding: 2rem 2rem 3rem 2rem;
  }


  .seccion-destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .destino-card {
    width: 23%;
    height: 65vh;

    padding: var(--margin);
    margin-bottom: var(--margin);

    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;

    color: rgb(255, 255, 255);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .destino-card > .card-text {
    padding: 3rem 0 3rem 0;
  }
    

/*Registrate*/
.main_registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/registro.jpg);
}
.bg-transp {
   background-color: rgba(240, 248, 255, 0.824);

}


#tarjetas {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.tarjeta_individual {
    margin: 0 15px 0 15px;
    width: 150px;
}

/*Login*/
.main_login {
    display: flex;
    justify-content: flex-end;
    min-height: 90vh;
    
    background-image: url(../img/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section_login {
    min-height: 90vh;
    height: 100%;
    max-width: 40vw;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    min-height: 90vh;
    background-color: rgba(240, 248, 255);
 }

/*Index*/
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   

    margin-top:var(--margin);
    margin-bottom:var(--margin)
}

.tarjeta_individual {
    margin: 0 15px 0 15px;
    width: 150px;
}
.provincias {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   

    margin-top:var(--margin)
}
.provincias button {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.btn-provincias{
    background-color: #366198;
    padding: var(--margin);
}

/*Busqueda*/
.section-busqueda{
    width: 100%;
    display: flex;
    padding: var(--margin) ;
    background-color: rgb(245, 244, 244);
}

.container-busqueda {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    padding: var(--margin) ;

    background-color: white;
}
.resultado{
    display: flex;
    width: 48%;

    margin: var(--margin) var(--margin) var(--margin) 0;
}
.resultado-items{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
    border-bottom: 1px solid rgb(223, 222, 222);
}
.img-resultados{
    display: block;
    width: min(50%, 270px);
    height: 150px;

    object-fit: cover;
}
.info-resultados{
    margin-left: var(--margin);

    text-align: left;
}


/*Footer*/
.site-footer{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small{
  margin:20px 0
}
.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a{
  color:#737373;
}
.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links{
  padding-left:0;
  list-style:none
}
.footer-links li{
  display:block
}
.footer-links a{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li{
  display:inline-block
}
.site-footer .social-icons{
  text-align:right
}
.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text{
  margin:0
}
@media (max-width:991px){
  .site-footer [class^=col-]  {
    margin-bottom:30px
  }
}
@media (max-width:767px){
  .site-footer  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons  {
    text-align:center
  }
}
.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}
.social-icons a.git:hover{
  background-color:#00aced
}
.social-icons a.linkedin:hover{
  background-color:#007bb6
}
.social-icons a.dribbble:hover{
  background-color:#ea4c89
}
@media (max-width:767px){
  .social-icons li.title  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*Un destino*/

.titulo-destino{
  background-color:#dfefff;
  height:30vh;
  display: grid;
  place-content: center;
}
.titulo-destino > h1 {
  font-size: 3rem;
  font-weight: 1000;
}

/*Hotel detalle*/
.titulo-hotel{
  background-position: center;
  background-size: cover;
  
  background-color: rgb(0, 0, 0, 0.3);
  background-blend-mode: multiply;

  height:30vh;
  display: grid;
  place-content: center;
}
.titulo-hotel > h1 {
  font-size: 3rem;
  font-weight: 1000;
  color: white;
}
.centrado{
  display: grid;
  place-content: center;
}
.centrado > h2{
  font-size: 3rem;
  font-weight: 1000;
}
.centrado > h3{
  margin-top: 2rem;
}
.subrayado {
  text-decoration: underline;
}
.img-borde {
  outline: solid rgb(255, 255, 255) 2px;
  outline-offset: -15px;
}

/*estilos Mobile*/

@media screen and (max-width: 800px) {
    .h1-title {
        font-size: 2rem;
      }

    .resultado-items{
        flex-direction: column;
    }
    .resultado{
        width: 100%;
    }
    .destino-card {
        width: 100%;
        height: 65vh;
    
        padding: var(--margin);
        margin-bottom: var(--margin);
    
        background-color: rgb(0, 0, 0, 0.3);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
    
        color: rgb(255, 255, 255);
        text-align: center;
    
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }
}
