{% extends 'app/base.html' %}

{% block content %}
     
    <div class="container overflow-hidden" style="padding: 2rem 0 2rem 0">
        <h1 class="txt-center divisor">Estos son los destinos de {{provincia}}</h1>
        <section class="seccion-destinos container">
            {% for ciudad in ciudades %}
            <div class="destino-card" style="background-image:url('{{ ciudad.url }}')">

            <h5 class="card-title">{{ ciudad.nombre }}</h5>
            <p class="card-text ">Ubicación:</br><span class="bold-text">{{ciudad.provincia }}</span></p>
            <a href="{% url 'undestino' ciudad.id %}" class="btn-circle btn-xl transparent-btn">Conocer</a>

            </div>
        {% endfor %}
        </section>
    </div>

{% endblock content %}
