{% extends 'app/base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Estos son los destinos de {{provincia}}</h1>            
            <hr class="my-4">
            <h5>Elige el destino que mas te guste.</h5>  
        </div>                           
    </div> 
    <br>    
    <div id="tarjetas">
        {% for ciudad in ciudades %}
            <div class="card tarjeta_individual" style="width: 18rem;">
                <img src="{{ ciudad.url }}" class="card-img-top fotos rounded" style="filter: brightness(50%);" alt="...">
                <div style="position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%); color: white">
                    <a href="{% url 'undestino' ciudad.id %}" class="btn btn-outline-light">{{ciudad.nombre}}</a>
                </div>
            </div>
        {% endfor %}
    </div>   
    <br>    
{% endblock content %}
