  <!-- footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca</h6>
          <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque incidunt dignissimos perferendis autem ex labore officiis quibusdam dolorem harum, voluptate aspernatur a fuga porro sapiente id, ullam facilis ratione! Magni reprehenderit non voluptatem inventore quibusdam magnam error! Vitae, laborum nostrum.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Destinos</h6>
          <ul class="footer-links">
            <li><a href="#">C</a></li> 
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="#">Mi cuenta</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados por 
           <a href="#">Visita Argentina</a>. </br> Los contenidos de esta página están licenciados bajo Creative Commons Reconocimiento
            2.5 Argentina License. 
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a href="https://github.com/flor-cot/app_turismo"  target=”_blank” class="git" ><i class="fa fa-github"></i></a></li>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
