<footer  >
  <div class="row">
    <div class="col-12">
      <div class="col text-center">
        <button class="btn btn-primary fa fa-facebook-official"></button> 
        <button class="btn btn-primary fa fa-twitter"></button> 
        <button class="btn btn-primary fa fa-instagram"></button> 
    </div>
      <h6 >© Copyright. Todos los derechos reservados</h6>
      <p >Los contenidos de esta página están licenciados bajo Creative Commons Reconocimiento
        2.5 Argentina License.</p>
    </div>   
  </div>          
</footer>