{% extends 'app/base.html' %}
{% block title %}Hotel {{hotel.nombre}}{% endblock title %}

{% block content %}

<div class="titulo-hotel" style="background-image:url({{ hotel.url }})">
    <h1>{{ hotel.nombre }}</h1>
</div>

<main>
<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ hotel.url }}" class="card-img-top fotos img-borde" alt="...">
        </div> 
        <div class="col-md-6 centrado">
            <h2>{{ hotel.nombre }}</h2> 
            <h5 class="subrayado"> {{ hotel.ciudad }} </h5>  
            <h3>Puntuación: <span style="font-weight:800;color:#366198"> {{ hotel.puntuacion }} </span> </h3>         
            <h3 class="">{{ hotel.descripcion }}</h3>
        </div>          
    </div>
</div>


<div class="container" style="display:flex">   
        <div class="tarjeta_individual col-8" >
            <div class="row">
                {% if comentarios %}
                <p>{{ comentarios|length }} opiniones</p>
                {% for comentario in comentarios %}
                <div class="p-4 mb-3" style="background-color:rgba(240, 248, 255, 0.824)">
                    <div class="row">
                        <p class="card-text col-6">{{ comentario.usuario }}</p>
                        <p class="card-text col-4">{{ comentario.fecha }}</p>
                        <p class="card-text col-1">{{ comentario.likes }}</p>
                        {% if user.username == comentario.usuario.username %}
                            <a href="{% url 'eliminar_comentario' comentario.id hotel.id %}" title="Eliminar" class="btn btn-danger col-1"><i class="fa-sharp fa-solid fa-trash"></i></a>
                        {% else %}
                            <a href="{% url 'gustar_comentario' comentario.id hotel.id %}" title="me_gusta" class="btn col-1"><i class="fa fa-sharp fa-solid fa-heart"></i></a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="y">
                            <h5 class="card-title">{{ comentario.mensaje }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="">
                    <div class="row">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}  [<a href='{% url 'login' %}'>Ingresar</a>]
                            </div>
                            {% endfor %}
                        {% endif %}
                        <form action="{% url 'agregar_comentario' hotel.id %}" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <textarea name="comentario_nuevo" class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Haga su comentario!"></textarea>
                                <button type="submit" class="btn-circle-dark btn-xl mb-5">Enviar comentario</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>
</main>

{% endblock content %}