{% extends 'app/base.html' %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="width:80vw; margin: auto">
      <div class="carousel-item active">
        <img src="https://www.sunfish.cl/img/piscina/Hotel_sunfish_iquique.jpg" class="d-block w-100" alt="..." style="max-height:200px; aspect-ratio: 18/6; object-fit: none;">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="..." style="max-height:200px; aspect-ratio: 18/6; object-fit: none;">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="..." style="max-height:200px; aspect-ratio: 18/6; object-fit: none;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <div id="tarjetas">
    {% for hotel in hoteles.hoteles %}
        <div class="card tarjeta_individual" style="width: 18rem;">
            <img src="{{ hotel.url }}" class="card-img-top fotos" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ hotel.nombre }}</h5>
            <p class="card-text">Hotel ubicado en {{hotel.localidad }}, tiene un puntaje de {{ hotel.nota }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div>
    {% for provincia in provincias %}
    <ul>
      <li>{{ provincia }}</li>
    </ul>
    {% endfor %}
    </div>
{% endblock content %}