{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <h1>Cambiar contraseña</h1>
  <form>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Old Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Ingrese su contraseña actual">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Ingrese su nueva contraseña">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Repita la nueva contraseña">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
      </div>
    </div>
    <br>
  </form>

</div>

{% endblock content %}