{% extends 'app/base.html' %}

{% block content %}
<div class="titulo-destino">
  <h1>{{ciudad}}</h1>
</div>

<section class="section-busqueda" style="background-color:white">
  <div class="container-busqueda container">

{% if hoteles %}
<h3> Hoteles ubicados en {{ ciudad }} </h3>
<div class="resultado-items">                
{% for hotel in hoteles %}
<div class="resultado">
    <img src="{{ hotel.url }}"class="img-resultados"  alt=" {{ hotel.nombre }}">
    <div class="info-resultados">
        <a href="{% url 'hotel_detalle' hotel.id %}"><h4 >{{hotel.nombre}}</h4></a>
        <h5>{{hotel.descripcion}}</h5>
        <p>{{hotel.puntuacion}}</p>
    </div>
</div>
{% endfor %}
</div>   
{% endif %}

    {% comment %} {% if atracciones %}
    <h2>Atracciones</h2>
    <div class="container">
      <div class="row">
        {% for atraccion in atracciones %}
        <div class="col">
          <img src="{{ atraccion.url }}" class="card-img-top rounded" alt="...">
        </div>
        <div class="col">    
          <h1 class="display-4">{{atraccion.nombre}}</h1>
          <hr class="my-4">      
          <p>{{atraccion.descripcion}}</p>
        </div>
        {% endfor %}
      </div>
    </div>   <br>
    {% endif %}  {% endcomment %}


    {% if atracciones %}
        <h3> Atracciones ubicadas en {{ ciudad }} </h3>
        <div class="resultado-items">                
        {% for atraccion in atracciones %}
        <div class="resultado">
            <img src="{{ atraccion.url }}"class="img-resultados"  alt=" {{ atraccion.nombre }}">
            <div class="info-resultados">
                <a href="{% url 'atraccion' atraccion.id %}"><h4 >{{atraccion.nombre}}</h4></a>
                <h5>{{atraccion.descripcion}}</h5>
                <p>{{atraccion.puntuacion}}</p>
            </div>
        </div>
        {% endfor %}
        </div>   
    {% endif %}
<br>
{% endblock content %}